.board-row{
  width:200px;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square{
  height:100%;
  width: 33%;
}

.room{
  width: 100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.room button{
  padding: 10px;
  font-size: 14px;
  margin: 10px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.room button:hover{
  background-color: aquamarine;
  color:black
}